*{
    margin: 0;
    padding: 0;
}
article{
    margin: 0;
    padding: 0;
}
.unternehmen{
    height: auto;
    width: 50%;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
   
 
}

@media only screen and (max-width: 500px)  {
    .unternehmen {
        width: 90%;
        margin-left: 20px;
    }
}
.unternehmenSection{
    height: auto;
    border: 1px solid white;
    padding-bottom: 40px;
}
.unternehmenSection p{
    padding-bottom: 1em;
}
.unternehmenSection h2{
    padding-left: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #042956;
}
.unternehmenSection button{
    padding: 1em 4em;
    border-radius: 2px;
    margin: 1em;
    background: #00DEAC;
    color: #042956;
    font-size: .8em;
    font-weight: bolder;
}

.unternehmenSection input{
    padding: 1em;
}
.uLable{
    display: block;
    margin: 1em;
}
.unternehmenSection:nth-of-type(2) button{
    margin-top: 3em;
}
.unternehmenInfo{
    padding: 1em 4em;
    border-radius: 2px;
    margin: 1em;
    background: #00DEAC;
    color: #042956;
    font-size: .8em;
    font-weight: bolder;
    margin: 60px 0;
}

.info-input {
   margin-bottom: 30px;
}