
.button2{
    box-shadow: 0px 1.5px #00DEAC;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
     
    
}
.heading2{
    display: flex;
    justify-content: flex-start;
    align-items: right;
    padding: 80px 90px;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    
}

@media only screen and (max-width: 500px) {
    .heading2 {
        flex-direction: column;
        padding: 0;
    }  
    
    .section2 {
        margin-bottom: 20vh;
    }

    .img-block {
        margin-bottom: 20vh;
    }
}
.section2{
    width: 70%;
    height: 40vh;
    margin: 20px auto;
    
}
.auftrag{
width:50%;
height: 100%;
margin-top: 3%;
margin-right:10% ;
min-width: 300px;
}

.img-block {
    order:1;
    height:30vh;
    width: 25vw;
    background: url(../../img/6.png) no-repeat center/cover;
    background-position: top;
    box-shadow: 10px 10px #00DEAC;
    min-width: 300px;
}

.link {
    font-size: 1.5em;
    padding: .3em 1em;
    background: #3dd7ac;
    color: #fafafa;
    border: none;
    border-radius: 2px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.link:hover {
    background:#0A0F2C ;
    color:white;
}

.auftrag-description {
    margin-bottom: 40px;
}
