.VorgabenSection {
    height: auto;
    width: 55%;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding-bottom: 5%;
}

@media only screen and (max-width: 500px) {
    .VorgabenSection {
        width:90%;
        margin-left: 20px;
    }
}


.VorgabenSection h2 {
    padding-left: 0px;
    padding-top: 2em;
    color: #042956;
}

.VorgabenSection button {
    padding: 1em 4em;
    border-radius: 2px;
    margin: 1em;
    background: #00DEAC;
    color: #042956;
    font-size: .8em;
    font-weight: bolder;
}

.VorgabenSectionForm {
    padding: 1.5em;
}
.mustHave{
    padding: 1em ;
}

.VorgabenSectionForm>p {
    padding: 1em;
    color: #042956;
}

.VorgabenSectionSubmit {
    padding: 1em 4em;
    border-radius: 2px;
    margin: 1em;
    background: #00DEAC;
    color: #042956;
    font-size: .8em;
    font-weight: bolder;
}

.programming-btns {
    margin-bottom: 20px;
}

.programming-btns >* {
    margin-left: 5px;
}