.thanks-block{
    width:100%;
    height: 80vh;
    

}
.thanks-article{
    font-size: large;
    width:50%;
    height: 60%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;

}

@media only screen and (max-width: 500px)   {
    .thanks-article {
        width: 90%;
        height: 75%;
    }
}

.thanks-heading {
    padding-top: 30px;
}